In [11]:
#importanto librerias a utilizar
import pandas as pd
import ast
import datetime

In [33]:
#creando funciones que a utilizar.


def missing_values_table(df):
    '''
    Se pasa como parametro un df de pandas, devuelve la 
    cantidad de valores NaN y a que porcentaje del total de valores corresponen
    
    
    '''
    
    mis_val = df.isna().sum()
    mis_val_percent = 100 * df.isna().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns



def unix_min_max(df):
    
    '''Se pasa como parametro un dataframe, imprime en pantalla la fecha mas antigua y la mas reciente utilizando la columna de unixreviewtime '''
    #Comvertimos la fecha menor a datetime 
    unix_time1 = df['unixReviewTime'].min()
    
    date_time1 = datetime.datetime.fromtimestamp(unix_time1)

    #Comvertimos la fecha mayor a datetime 
    unix_time2 = df['unixReviewTime'].max()
    
    date_time2 = datetime.datetime.fromtimestamp(unix_time2)
    
    # mostramos la fecha en unixtime
    print("Unix_Time =>",unix_time1)
    
    #mostramos le fecha comvertida
    print("Fecha y hora menor =>" ,
        date_time1.strftime('%Y-%m-%d %H:%M:%S'))


    print("----------------") 

    # mostramos la fecha en unixtime
    print("Unix_Time =>",unix_time2)
    
    #mostramos le fecha comvertida
    print("Fecha y hora mayor =>" ,
        date_time2.strftime('%Y-%m-%d %H:%M:%S'))

### **Patio, Lawn and Garden**

In [6]:
#proceso en chunks
chunk_size = 1000

#creo lista para meter mi chrunk procesado
result_dfs = []

for chunk_df in pd.read_json("D:\Data Proyecto Indicidual\Patio_Lawn_and_Garden_5.json", lines=True, chunksize=chunk_size):
    result_dfs.append(chunk_df)

#creo df resutltante para ir concatenando mis chrunks.
patio_Lawn_df = pd.concat(result_dfs, ignore_index=True)

In [7]:
patio_Lawn_df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1JZFGZEZVWQPY,B00002N674,"Carter H ""1amazonreviewer@gmail . com""","[4, 4]",Good USA company that stands behind their prod...,4,Great Hoses,1308614400,"06 21, 2011"
1,A32JCI4AK2JTTG,B00002N674,"Darryl Bennett ""Fuzzy342""","[0, 0]",This is a high quality 8 ply hose. I have had ...,5,Gilmour 10-58050 8-ply Flexogen Hose 5/8-Inch ...,1402272000,"06 9, 2014"
2,A3N0P5AAMP6XD2,B00002N674,H B,"[2, 3]",It's probably one of the best hoses I've ever ...,4,Very satisfied!,1336176000,"05 5, 2012"
3,A2QK7UNJ857YG,B00002N674,Jason,"[0, 0]",I probably should have bought something a bit ...,5,Very high quality,1373846400,"07 15, 2013"
4,AS0CYBAN6EM06,B00002N674,jimmy,"[1, 1]",I bought three of these 5/8-inch Flexogen hose...,5,Good Hoses,1375660800,"08 5, 2013"
...,...,...,...,...,...,...,...,...,...
13267,AT53ZTTO707MB,B00KS0F4FI,I Do The Speed Limit,"[1, 2]",Simple. Perfect. Plenty big enough. Durable...,5,Great pair of claws,1403827200,"06 27, 2014"
13268,AYB4ELCS5AM8P,B00KS0F4FI,"John B. Goode ""JBG""","[0, 0]",These claws are fantastic. They are made of ha...,5,Sharp...,1405123200,"07 12, 2014"
13269,AZMY6E8B52L2T,B00KS0F4FI,"JP ""J.P.""","[1, 3]",I really like theseOuddy Heat Resistant Meat C...,5,Really Helpful...,1405123200,"07 12, 2014"
13270,AEC90GPFKLAAW,B00KS0F4FI,"Lisa Kearns ""Lisa Kearns""","[0, 0]",I make pulled pork in the crock pot pretty oft...,5,Shreds meat perfectly!,1405468800,"07 16, 2014"
13271,A3LGT6UZL99IW1,B00KS0F4FI,"Richard C. Drew ""Anaal Nathra/Uthe vas Bethod...","[1, 2]","When I first saw these, I thought &#34;Hmmm. W...",5,Get all Wolverine on your meat,1403740800,"06 26, 2014"

In [8]:
missing_values_table(patio_Lawn_df)

Your selected dataframe has 9 columns.
There are 1 columns that have missing values.

              Missing Values  % of Total Values
reviewerName             165                1.2

In [9]:
patio_Lawn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13272 entries, 0 to 13271
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviewerID      13272 non-null  object
 1   asin            13272 non-null  object
 2   reviewerName    13107 non-null  object
 3   helpful         13272 non-null  object
 4   reviewText      13272 non-null  object
 5   overall         13272 non-null  int64
 6   summary         13272 non-null  object
 7   unixReviewTime  13272 non-null  int64
 8   reviewTime      13272 non-null  object
dtypes: int64(2), object(7)
memory usage: 933.3+ KB

In [34]:
unix_min_max(patio_Lawn_df)

Unix_Time => 954892800
Fecha y hora menor => 2000-04-04 21:00:00
----------------
Unix_Time => 1405987200
Fecha y hora mayor => 2014-07-21 21:00:00

### **Pet Supplies**

In [15]:
#proceso en chunks
chunk_size = 1000

#creo lista para meter mi chrunk procesado
result_dfs = []

for chunk_df in pd.read_json("D:\Data Proyecto Indicidual\Pet_Supplies_5.json", lines=True, chunksize=chunk_size):
    result_dfs.append(chunk_df)

#creo df resutltante para ir concatenando mis chrunks.
pet_supplies_df = pd.concat(result_dfs, ignore_index=True)

In [16]:
pet_supplies_df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A14CK12J7C7JRK,1223000893,Consumer in NorCal,"[0, 0]",I purchased the Trilogy with hoping my two cat...,3,Nice Distraction for my cats for about 15 minutes,1294790400,"01 12, 2011"
1,A39QHP5WLON5HV,1223000893,Melodee Placial,"[0, 0]",There are usually one or more of my cats watch...,5,Entertaining for my cats,1379116800,"09 14, 2013"
2,A2CR37UY3VR7BN,1223000893,Michelle Ashbery,"[0, 0]",I bought the triliogy and have tested out all ...,4,Entertaining,1355875200,"12 19, 2012"
3,A2A4COGL9VW2HY,1223000893,Michelle P,"[2, 2]",My female kitty could care less about these vi...,4,Happy to have them,1305158400,"05 12, 2011"
4,A2UBQA85NIGLHA,1223000893,"Tim Isenhour ""Timbo""","[6, 7]","If I had gotten just volume two, I would have ...",3,You really only need vol 2,1330905600,"03 5, 2012"
...,...,...,...,...,...,...,...,...,...
157831,A136YD08SCJ2LV,B00KMHKOZC,"R. Spell ""raspell""","[0, 0]",The Pet Magasin Retractable Dog Leash is the b...,5,Perfection,1405296000,"07 14, 2014"
157832,A2YKWYC3WQJX5J,B00KMHKOZC,"Shannon Lastowski ""Queen of Caffeine""","[1, 1]",I'm not the biggest fan of retractable leashes...,5,"Nice solid feel, my little boy is thrilled!",1405296000,"07 14, 2014"
157833,A2K0D19N83G6U2,B00KMHKOZC,"Spoiled Rott'n ""Maria Olipas""","[0, 0]",I was provided a leash for my unbiased review....,4,Good leash for small non-darty pets,1405987200,"07 22, 2014"
157834,A3A4ZAIBQWKOZS,B00KMHKOZC,Stephen M. Lerch,"[1, 1]",This is a well designed leash that offers the ...,5,"Quality build, smooth retraction, great leash",1405641600,"07 18, 2014"
157835,A1ITRGMT80D5TK,B00KMHKOZC,"ThisThatNEverything ""thisthatneverything""","[0, 0]",This leash is stated to be good for dogs up to...,4,"Nice Leash for 20+ Pounds, Occasional Problems...",1405296000,"07 14, 2014"

In [17]:
missing_values_table(pet_supplies_df)

Your selected dataframe has 9 columns.
There are 1 columns that have missing values.

              Missing Values  % of Total Values
reviewerName            1343                0.9

In [37]:
pet_supplies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157836 entries, 0 to 157835
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewerID      157836 non-null  object
 1   asin            157836 non-null  object
 2   reviewerName    156493 non-null  object
 3   helpful         157836 non-null  object
 4   reviewText      157836 non-null  object
 5   overall         157836 non-null  int64
 6   summary         157836 non-null  object
 7   unixReviewTime  157836 non-null  int64
 8   reviewTime      157836 non-null  object
dtypes: int64(2), object(7)
memory usage: 10.8+ MB

In [35]:
unix_min_max(pet_supplies_df)

Unix_Time => 1009756800
Fecha y hora menor => 2001-12-30 21:00:00
----------------
Unix_Time => 1406073600
Fecha y hora mayor => 2014-07-22 21:00:00

### **Tools and Home Improvement**

In [20]:
#proceso en chunks
chunk_size = 1000

#creo lista para meter mi chrunk procesado
result_dfs = []

for chunk_df in pd.read_json("D:\Data Proyecto Indicidual\Tools_and_Home_Improvement_5.json", lines=True, chunksize=chunk_size):
    result_dfs.append(chunk_df)

#creo df resutltante para ir concatenando mis chrunks.
tool_and_home_df = pd.concat(result_dfs, ignore_index=True)

In [21]:
tool_and_home_df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A4IL0CLL27Q33,104800001X,D. Brennan,"[0, 1]","I hate it when my shirt collars, not otherwise...",5,Perfect for collar stay management,1390953600,"01 29, 2014"
1,A3Q5W5E7TDVLJF,104800001X,funnyc130,"[0, 0]",These little magnets are really powerful for t...,5,Neat,1369958400,"05 31, 2013"
2,A37KNOJXE2FU6,104800001X,Joseph Yonke II,"[0, 0]",I wanted something this small to mount on the ...,5,Very small and thin,1363132800,"03 13, 2013"
3,A3U4AFML9SZPWK,104800001X,"Leith Tussing ""I like tacos.""","[0, 0]",I use these to magnetize my Warhammer 40K mini...,5,Excellent hobby magnets,1371340800,"06 16, 2013"
4,A36Y7X194VWVKA,104800001X,Mark D.,"[23, 25]",They are soo freaking annoying!! Why?! You sp...,5,They're annoying... which is why they get five...,1376006400,"08 9, 2013"
...,...,...,...,...,...,...,...,...,...
134471,A1Q1Z7IR79G52A,B00LA96GLC,"Ann Ingersoll Madison Rain ""Ann""","[0, 0]",Super bright! Awesomely Comfortable. Easy to u...,5,Best headlamp you will ever buy!,1405468800,"07 16, 2014"
134472,A21T5C3KL41REL,B00LA96GLC,galbarran,"[0, 0]",I got this headlamp for my daughter since we r...,5,Light my kid up!,1405987200,"07 22, 2014"
134473,A2I8KUDXTC9WYI,B00LA96GLC,theresa,"[0, 0]",This is a real bright headlamp. I bought it f...,5,Very Bright Light.,1405814400,"07 20, 2014"
134474,AAOYA0DKWED4W,B00LA96GLC,WombatComputing,"[0, 0]",Easy to wear headlamp that's bright. Good for ...,5,Bright Lights,1405555200,"07 17, 2014"
134475,A18JF0T0GOCORW,B00LA96GLC,"Y.Trinh ""U""","[0, 0]",Very nice head lamp! Bright led. Fits head wit...,5,Great lamp!,1405728000,"07 19, 2014"

In [22]:
missing_values_table(tool_and_home_df)

Your selected dataframe has 9 columns.
There are 1 columns that have missing values.

              Missing Values  % of Total Values
reviewerName             719                0.5

In [38]:
tool_and_home_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134476 entries, 0 to 134475
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewerID      134476 non-null  object
 1   asin            134476 non-null  object
 2   reviewerName    133757 non-null  object
 3   helpful         134476 non-null  object
 4   reviewText      134476 non-null  object
 5   overall         134476 non-null  int64
 6   summary         134476 non-null  object
 7   unixReviewTime  134476 non-null  int64
 8   reviewTime      134476 non-null  object
dtypes: int64(2), object(7)
memory usage: 9.2+ MB

In [36]:
unix_min_max(tool_and_home_df)

Unix_Time => 942019200
Fecha y hora menor => 1999-11-07 21:00:00
----------------
Unix_Time => 1406073600
Fecha y hora mayor => 2014-07-22 21:00:00

### **Grocery and Gourmet Food**

In [24]:
#proceso en chunks
chunk_size = 1000

#creo lista para meter mi chrunk procesado
result_dfs = []

for chunk_df in pd.read_json("D:\Data Proyecto Indicidual\Grocery_and_Gourmet_Food_5.json", lines=True, chunksize=chunk_size):
    result_dfs.append(chunk_df)

#creo df resutltante para ir concatenando mis chrunks.
grocerys_df = pd.concat(result_dfs, ignore_index=True)

In [25]:
grocerys_df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1VEELTKS8NLZB,616719923X,Amazon Customer,"[0, 0]",Just another flavor of Kit Kat but the taste i...,4,Good Taste,1370044800,"06 1, 2013"
1,A14R9XMZVJ6INB,616719923X,amf0001,"[0, 1]",I bought this on impulse and it comes from Jap...,3,"3.5 stars, sadly not as wonderful as I had hoped",1400457600,"05 19, 2014"
2,A27IQHDZFQFNGG,616719923X,Caitlin,"[3, 4]",Really good. Great gift for any fan of green t...,4,Yum!,1381190400,"10 8, 2013"
3,A31QY5TASILE89,616719923X,DebraDownSth,"[0, 0]","I had never had it before, was curious to see ...",5,Unexpected flavor meld,1369008000,"05 20, 2013"
4,A2LWK003FFMCI5,616719923X,Diana X.,"[1, 2]",I've been looking forward to trying these afte...,4,"Not a very strong tea flavor, but still yummy ...",1369526400,"05 26, 2013"
...,...,...,...,...,...,...,...,...,...
151249,A2L6QS8SVHT9RG,B00KCJRVO2,"randomartco ""period film aficionado""","[0, 0]",Delicious gluten-free oatmeal: we tried both t...,4,Delicious gluten-free oatmeal 'quick' packs!,1405123200,"07 12, 2014"
151250,AFJFXN42RZ3G2,B00KCJRVO2,"R. DelParto ""Rose2""","[0, 0]",With the many selections of instant oatmeal ce...,4,Convenient and Instant,1404604800,"07 6, 2014"
151251,ASEBX8TBYWQWA,B00KCJRVO2,"Steven I. Ramm ""Steve Ramm &#34;Anything Phon...","[1, 1]","While I usually review CDs and DVDs, as well a...",5,Compares favorably in taste and texture with o...,1404172800,"07 1, 2014"
151252,ANKQGTXHREOI5,B00KCJRVO2,Titanium Lili,"[0, 1]",My son and I enjoyed these oatmeal packets. H...,4,Pretty good!,1404432000,"07 4, 2014"
151253,A2CF66KIQ3RKX3,B00KCJRVO2,Vivian Deliz,"[0, 0]",I like to eat oatmeal i the mornings. I usuall...,4,I like to eat oatmeal i the mornings,1405036800,"07 11, 2014"

In [26]:
missing_values_table(grocerys_df)

Your selected dataframe has 9 columns.
There are 1 columns that have missing values.

              Missing Values  % of Total Values
reviewerName            1493                1.0

In [39]:
grocerys_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151254 entries, 0 to 151253
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewerID      151254 non-null  object
 1   asin            151254 non-null  object
 2   reviewerName    149761 non-null  object
 3   helpful         151254 non-null  object
 4   reviewText      151254 non-null  object
 5   overall         151254 non-null  int64
 6   summary         151254 non-null  object
 7   unixReviewTime  151254 non-null  int64
 8   reviewTime      151254 non-null  object
dtypes: int64(2), object(7)
memory usage: 10.4+ MB

In [27]:
unix_min_max(grocerys_df)

Unix_Time => 965779200
Fecha y hora menor => 2000-08-08 21:00:00
----------------
Unix_Time => 1406073600
Fecha y hora mayor => 2014-07-22 21:00:00

### **Home and Kitchen**

In [28]:
#proceso en chunks
chunk_size = 1000

#creo lista para meter mi chrunk procesado
result_dfs = []

for chunk_df in pd.read_json("D:\Data Proyecto Indicidual\Home_and_Kitchen_5.json", lines=True, chunksize=chunk_size):
    result_dfs.append(chunk_df)

#creo df resutltante para ir concatenando mis chrunks.
home_and_kitchen_df = pd.concat(result_dfs, ignore_index=True)

In [29]:
home_and_kitchen_df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,APYOBQE6M18AA,0615391206,Martin Schwartz,"[0, 0]",My daughter wanted this book and the price on ...,5,Best Price,1382140800,"10 19, 2013"
1,A1JVQTAGHYOL7F,0615391206,Michelle Dinh,"[0, 0]",I bought this zoku quick pop for my daughterr ...,5,zoku,1403049600,"06 18, 2014"
2,A3UPYGJKZ0XTU4,0615391206,mirasreviews,"[26, 27]",There is no shortage of pop recipes available ...,4,"Excels at Sweet Dessert Pops, but Falls Short ...",1367712000,"05 5, 2013"
3,A2MHCTX43MIMDZ,0615391206,"M. Johnson ""Tea Lover""","[14, 18]",This book is a must have if you get a Zoku (wh...,5,Creative Combos,1312416000,"08 4, 2011"
4,AHAI85T5C2DH3,0615391206,PugLover,"[0, 0]",This cookbook is great. I have really enjoyed...,4,A must own if you own the Zoku maker...,1402099200,"06 7, 2014"
...,...,...,...,...,...,...,...,...,...
551677,A11J1FHCK5U06J,B00LBFUU12,Karinna Ball,"[0, 0]",These ice pop molds are awesome! Bright kid-ha...,5,Summer fun for everyone!,1404950400,"07 10, 2014"
551678,A537XC69FAD3J,B00LBFUU12,L Green,"[0, 0]",great popsicle molds - very nice quality - and...,5,Five Stars,1405382400,"07 15, 2014"
551679,AWHZOUIQ0VO7M,B00LBFUU12,Richard N,"[0, 0]",My kids and I are loving these - putting our c...,5,... these - putting our creativity to the test...,1405468800,"07 16, 2014"
551680,A1KQNP8MOJDJKC,B00LBFUU12,RS,"[1, 1]","I love these ice pop makers. First off, I love...",5,love them,1405209600,"07 13, 2014"
551681,A3AHOSISKNBLZ6,B00LBFUU12,Tonya S,"[0, 0]",My kids love these ice pop makers!!! Since we...,5,Great popsicle molds!!! Perfect for making su...,1404777600,"07 8, 2014"

In [30]:
missing_values_table(home_and_kitchen_df)

Your selected dataframe has 9 columns.
There are 1 columns that have missing values.

              Missing Values  % of Total Values
reviewerName            4953                0.9

In [40]:
home_and_kitchen_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551682 entries, 0 to 551681
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewerID      551682 non-null  object
 1   asin            551682 non-null  object
 2   reviewerName    546729 non-null  object
 3   helpful         551682 non-null  object
 4   reviewText      551682 non-null  object
 5   overall         551682 non-null  int64
 6   summary         551682 non-null  object
 7   unixReviewTime  551682 non-null  int64
 8   reviewTime      551682 non-null  object
dtypes: int64(2), object(7)
memory usage: 37.9+ MB

In [31]:
unix_min_max(home_and_kitchen_df)

Unix_Time => 965779200
Fecha y hora menor => 2000-08-08 21:00:00
----------------
Unix_Time => 1406073600
Fecha y hora mayor => 2014-07-22 21:00:00

##### Todos los dataframes tienen las mismas caracteristicas, para analizar los valores nulos que encontramos en la columna 'reviewerID' solo utilizare uno de ellos, en este caso 'tool_and_home_df'

In [24]:
tool_and_home_df[tool_and_home_df["reviewerName"].isna()]

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
21,A3NGABXDIB0POU,1933622709,NaN,"[0, 0]",Awesome to light an entire room,5,Way to bright for reading in the dark.,1405123200,"07 12, 2014"
140,A3GFEC3CFRS5NN,B0000222V9,NaN,"[0, 0]",This is an important item to have with a plung...,3,Easy to use,1405123200,"07 12, 2014"
173,A3GFEC3CFRS5NN,B0000222VF,NaN,"[0, 0]","Not much to say, well made for the most part, ...",4,A must have item.,1405123200,"07 12, 2014"
1020,A2K9C4B7O22HHL,B0000223GD,NaN,"[5, 5]",Cuts through materials of all types (with the ...,4,Like butta,1070323200,"12 2, 2003"
1527,AY11MCGDJ6MR6,B0000223OY,NaN,"[0, 0]",DOES NOT FIT HARBOR FREIGHT TOOLS,1,DOES NOT FIT,1405382400,"07 15, 2014"
...,...,...,...,...,...,...,...,...,...
127127,A1D3TL21VKWBPD,B00B2F3KDQ,NaN,"[0, 0]","I love it, it worked good and it worth the mon...",5,Love it.,1368403200,"05 13, 2013"
127128,AMDX36E9A3EK9,B00B2F3KDQ,NaN,"[0, 1]",They work ok but not the best.I found a bad so...,3,LED strips,1404000000,"06 29, 2014"
127129,A3NCSQ3UE9X7U5,B00B2F3KDQ,NaN,"[2, 4]",When I received these lights the plastic reel ...,4,NICE LIGHTS GOOD PRICE,1376524800,"08 15, 2013"
128138,A32D51AGXQWZ1E,B00BLJ3AR4,NaN,"[1, 9]",BEWARE for the SawMax you well have to get the...,1,BUYERS BEWARE,1385424000,"11 26, 2013"
131779,A32D51AGXQWZ1E,B00F9TE06M,NaN,"[7, 21]",Keep in mine that if you buy this Lowes and HD...,1,"BLADES ""NOT TO BE FOUND """,1383523200,"11 4, 2013"

In [36]:
tool_and_home_df[tool_and_home_df.duplicated(subset=["reviewText", "unixReviewTime", "reviewTime", "summary","reviewerName"])]

Empty DataFrame
Columns: [reviewerID, asin, reviewerName, helpful, reviewText, overall, summary, unixReviewTime, reviewTime]
Index: []

In [53]:
lineas = []

with open("D:\Data Proyecto Indicidual\metadata.json", encoding='utf-8') as f:
    for line in f:
        lineas.append(ast.literal_eval(line))
        if len(lineas) == 500000:
            break

metadata = pd.DataFrame(lineas)

In [60]:
metadata

,asin,salesRank,imUrl,categories,title,description,price,related,brand
0,0001048791,{'Books': 6334800},http://ecx.images-amazon.com/images/I/51MKP0T4...,[[Books]],"The Crucible: Performed by Stuart Pankin, Jero...",NaN,NaN,NaN,NaN
1,0000143561,{'Movies & TV': 376041},http://g-ecx.images-amazon.com/images/G/01/x-s...,"[[Movies & TV, Movies]]","Everyday Italian (with Giada de Laurentiis), V...","3Pack DVD set - Italian Classics, Parties and ...",12.99,"{'also_viewed': ['B0036FO6SI', 'B000KL8ODE', '...",NaN
2,0000037214,{'Clothing': 1233557},http://ecx.images-amazon.com/images/I/31mCncNu...,"[[Clothing, Shoes & Jewelry, Girls], [Clothing...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,NaN,6.99,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",Big Dreams
3,0000032069,NaN,http://ecx.images-amazon.com/images/I/51EzU6qu...,"[[Sports & Outdoors, Other Sports, Dance, Clot...",Adult Ballet Tutu Cheetah Pink,NaN,7.89,"{'also_bought': ['0000032050', 'B00D0DJAEG', '...",BubuBibi
4,0000031909,{'Toys & Games': 201847},http://ecx.images-amazon.com/images/I/41xBoP0F...,"[[Sports & Outdoors, Other Sports, Dance]]",Girls Ballet Tutu Neon Pink,High quality 3 layer ballet tutu. 12 inches in...,7.00,"{'also_bought': ['B002BZX8Z6', 'B00JHONN1S', '...",Unknown
...,...,...,...,...,...,...,...,...,...
499995,0735322112,{'Toys & Games': 1257666},http://ecx.images-amazon.com/images/I/412ZEfFL...,"[[Toys & Games, Puzzles, Jigsaw Puzzles]]",Constructibles In the Garden Building Set,A very creative way to build towers and shapes...,NaN,NaN,NaN
499996,0735319146,{'Books': 9638810},http://ecx.images-amazon.com/images/I/51jmopv2...,[[Books]],Vintage Angels Holiday Cards,NaN,NaN,NaN,NaN
499997,0735203237,{'Books': 1735579},http://ecx.images-amazon.com/images/I/51VAT5FF...,[[Books]],The Girl's Handbook of Spells,Antonia Beattie writes and lectures on a wide ...,NaN,NaN,NaN
499998,0735316376,NaN,http://ecx.images-amazon.com/images/I/51Fl6aaz...,"[[Office Products, Office & School Supplies, P...",Galison 1637-9 William Morris Clover Sticky Notes,NaN,NaN,NaN,NaN
499999,0735326541,{'Toys & Games': 152965},http://ecx.images-amazon.com/images/I/51yCeDoU...,"[[Toys & Games, Puzzles, Jigsaw Puzzles]]",Mudpuppy Roadside Robots 63 Piece Puzzle,Mudpuppy's Roadside Robots 63 piece puzzle is ...,14.58,"{'also_bought': ['0735324662', '0735332398', '...",Mudpuppy

In [55]:
missing_values_table(metadata)

Your selected dataframe has 9 columns.
There are 8 columns that have missing values.

             Missing Values  % of Total Values
brand                499619               99.9
description          172382               34.5
related              118391               23.7
price                116247               23.2
imUrl                  9297                1.9
salesRank              4569                0.9
title                   535                0.1
categories              196                0.0